$darkTurtle: #46A094;
$lightTurtle: #6BBD99;
$darkPaleTurtle: #AECFA4;
$lightPaleTurtle: #C4E8C2;
$sailingRed: #E65C4F;
$lightBlack: rgb(49, 46, 46);
$light: rgb(133 129 129);
body{
    // background-color: #fbfbfb;
    background-color: white;
}
.registrationBox{
    display: flex;
    height: 32rem;
    width: 25rem;
    flex-direction: column;
    border: 1.5px solid $lightBlack;
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 4rem auto;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.alignText{
    text-align: center;
}
.alert-danger{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.OR{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.line{
    width: 10rem;
    height: 1px;
    background-color: $lightBlack;
    margin: auto 0rem;
}
.heading{
    margin: 1rem;
}
#newPostBtn{
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.allPostHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#postContent{
    height: 20rem;
}
#newPostBox{
    padding: 2rem;
}
#postSubmitBtn{
    width: 10rem;
}

.postItem{
    border: 1px solid $lightBlack;
    border-radius: 0.5rem;
    margin: 1rem 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
}
.editBtn{
    padding: 0.2rem 0.5rem;
}
.postHeader{
    display: flex;
    justify-content: space-between;
    
}
.postDate{
    color: $light;
}
.postBottom{
    display: flex;
    flex-direction: row;
    width: 14rem;
    gap: 1rem;
}
.postLikes {
    color: $light;
}
.postLikes:hover{
    cursor: pointer;
}

.postComment{
    color: $light;
}
.postComment:hover{
    cursor: pointer;
}
.page-link:hover{
    cursor: pointer;
}
.heartImg{
    height: 20px;
    width: 20px;
    margin: 0.2rem 0.5rem;
}
#comments{
    padding: 20px;
}
#makeComment{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 2rem;
    z-index: 1000;
}
#commentsContainer{
    margin-bottom: 14rem;
}
#commentSubmitBtn{
    width: 10rem;
}
#postSaveBtn{
    width: 10rem;
}
#editPostForm{
    margin: 0rem 2rem;
    #editPostContent{
        height: 20rem;
    }
}
#followingLink:hover{
    cursor: pointer;
}
.foll{
    margin: 0rem 2rem;
    color: $darkTurtle;
    #following{
        padding-left: 4rem;
    }
}
#navProfile:hover{
    cursor: pointer;
}
.postHeading:hover{
    cursor: pointer;
}
#followBtn{
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}